html {
  background-image: url(assets/bg.jpg); }

body {
  display: inline-block;
  width: 100%;
  margin-top: auto;
  background-color: rgba(10, 10, 10, 0.48);
  margin-left: 0; }

.main-container {
  margin-left: 24%;
  margin-right: 22.6%; }

header {
  display: inline-block;
  width: 47.5em;
  height: 89px;
  padding-top: 1%; }

.sm-tabs {
  display: inline-block;
  width: 100%;
  height: 50%; }
  .sm-tabs img {
    display: inline-block;
    width: 2.7%;
    float: right;
    padding-top: 1%;
    height: 59%;
    padding: 2%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-right: 1%;
    border-bottom: 3px solid gray;
    position: relative;
    right: -2%; }

.Header-tabs {
  display: inline-block;
  width: 100%;
  height: 50%; }
  .Header-tabs ul {
    list-style-type: none;
    height: 100%;
    width: 101%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    text-align: center; }
    .Header-tabs ul li {
      width: 25%;
      background: #b4292e;
      margin-right: 3px;
      /* margin-left: 1em; */
      height: 2em;
      position: relative;
      bottom: -10px;
      color: white;
      border-bottom: 3px solid gray; }

.header-image {
  display: inline-block;
  width: 47.5em;
  height: 19em;
  border: white solid 4px;
  background-repeat: no-repeat;
  background-image: url(assets/top-image.png);
  background-size: 132%;
  background-position-y: 13%;
  margin-top: 1em; }
  .header-image img {
    position: relative;
    top: 2em; }

.scroll {
  display: inline-block;
  width: 48em;
  height: 3em; }
  .scroll img {
    width: 1.5%;
    height: auto;
    border-radius: 50%;
    position: relative;
    right: -48%;
    margin: .5%;
    top: 24%; }

.first-block {
  display: inline-block;
  width: 48.2em;
  height: 19em;
  margin-bottom: 1em; }
  .first-block div {
    background: white;
    margin-right: 4.6px;
    margin-left: 1px;
    width: 32.61%;
    border-bottom: 3px solid gray; }
  .first-block h1 {
    width: 100%;
    font-size: 125%;
    width: 75%;
    padding-right: -3px;
    margin: auto;
    padding: 1em; }
  .first-block h2 {
    height: 5%;
    font-size: 25%;
    padding-right: 5em;
    padding-left: 9em;
    margin: 0; }
  .first-block p {
    margin-top: 0;
    font-size: 72%;
    margin-bottom: 0;
    padding-left: 2em;
    padding-right: 2em; }

.Article1 {
  width: 32%;
  height: 100%; }

.Article2 {
  width: 32%;
  height: 100%; }

.Article3 {
  width: 32%;
  height: 100%; }

.second-block {
  display: inline-block;
  height: 24em;
  width: 48em;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 1em; }

.skater1 {
  display: inline-block;
  width: 31%;
  height: 50%;
  background-image: url(assets/sk8er-4.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 123% 103%;
  position: relative;
  border: 3px solid white; }

.skater4 {
  width: 31%;
  height: 50%;
  display: inline-block;
  position: relative;
  background-image: url(assets/sk8er-3.png);
  background-size: 136% 104%;
  border: 3px solid white; }

.skater2 {
  width: 63.5%;
  height: 48%;
  display: inline-block;
  position: relative;
  background-image: url(assets/sk8er-1.png);
  background-repeat: no-repeat;
  background-size: 120% 111%;
  border: 3px solid white; }

.skater3 {
  display: inline-block;
  width: 35%;
  height: 100.5%;
  float: right;
  position: relative;
  top: -103%;
  right: -0.50%;
  background-image: url(assets/sk8er-2.png);
  background-repeat: no-repeat;
  background-size: 227% 100%;
  background-position: 86%;
  border: 3px solid white; }

.third-block {
  display: inline-block;
  width: 48em;
  height: 17em;
  background: white;
  border-bottom: gray 3px solid; }
  .third-block img {
    height: 93%;
    width: 6.5%;
    padding-right: 15px;
    padding-top: 6px;
    padding-left: 8px; }

.fourth-block {
  display: inline-block;
  width: 48em;
  height: 19em;
  margin-top: 2em;
  background: white;
  border-bottom: gray 3px solid; }

form {
  display: inline-block;
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
  top: -20em; }

.float-left {
  float: left; }

.text-box {
  width: 50%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  top: -16px; }
  .text-box h1 {
    font-size: 148%;
    padding-top: 1em;
    padding-left: 3%; }
  .text-box p {
    padding-left: 6%;
    padding-right: 11%; }

input[name="name"] {
  width: 95%;
  margin-top: 16px;
  margin-bottom: 10px; }

input[name="email"] {
  width: 95%;
  margin-bottom: 10px; }

textarea[name="message"] {
  width: 95%;
  height: 9em; }

.bottomtags {
  position: relative;
  top: -19%;
  right: -4%; }
  .bottomtags img {
    width: 4%;
    background-color: gray; }
