.first-block {
  display: inline-block;
  width: 48.2em;
  height: 19em;
  margin-bottom:1em;
div {
  background: white;
  margin-right: 4.6px;
  margin-left: 1px;
  width: 15.7em;
  border-bottom: 3px solid gray;
}

h1 {
    width: 100%;
      font-size: 125%;
      width: 75%;
      padding-right: -3px;
      margin: auto;
      padding: 1em;
  }
h2 {
    height: 5%;
    font-size: 25%;
    padding-right: 5em;
    padding-left: 9em;
    margin: 0;
  }
p {
    margin-top: 0;
    font-size: 72%;
    margin-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
a {
  text-decoration: none;
    padding-left: 27%;
    display: inline-block;
    margin-top: 5%;
    color: #B2382D;
    font-weight: bold;
}
  }
