.third-block {
  display: inline-block;
    width: 47.8em;
    background:white;
    border-bottom:gray 3px solid;
    margin-top:1%;
    overflow:hidden;
    max-height:17em;
img {
height: 93%;
width: 6.5%;
padding-right: 15px;
padding-top: 6px;
padding-left: 8px;
}
}
